@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

#turn p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  position: relative;
  display: inline-block;
  border-color: black;
  border-width: 2px;
  padding: 10px;
  border-style: solid;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 0;
}

.pieces {
  width: 30px;
  height: 30px;
}

.square:hover {
  border-color: cyan;
  border-width: 2px;
}

.brown {
  background-color: rgb(201, 21, 21);
}

.white {
  background-color: whitesmoke;
}

.move_circle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: rgb(253, 255, 133);
  opacity: 0.5;
}
