@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

#turn p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square {
  display: inline-block;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  width: 50px;
  text-align: center;
  height: 50px;
  margin: 0;
}

.square:hover {
  border-color: cyan;
  border-width: 2px;
}

.brown {
  background-color: rgb(206, 73, 73);
}

.white {
  background-color: whitesmoke;
}

.move_circle {
  align-self: center;
  width: 20px;
  height: 20px;
  background-color: red;
  opacity: 0.7;
  border-radius: 10px;
}
